:root {
    --background-color: #000;
    --title-font: 
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: var(--background-color);
}

button {
    all: unset;
}

::-webkit-scrollbar {
    width: 5px !important;
    border-radius: 3px;
}
::-webkit-scrollbar-track {
  background: transparent !important;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, .125);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, .375);
}