@import './animations.css';
@import './fonts.css';

:root {
    --background-color: #000;
    --title-font: 'Montserrat', sans-serif;
    --text-font: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: var(--background-color);
}

h1 {
    font-family: var(--title-font);
    font-size: 5em;
    font-weight: bold;
    user-select: none;
}

p {
    font-family: var(--text-font);
}

button {
    all: unset;
}

::-webkit-scrollbar {
    width: 5px !important;
    border-radius: 3px;
}
::-webkit-scrollbar-track {
  background: transparent !important;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, .125);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, .375);
}

/* Special classes */
.gs-abs-hcenter {
    left: 50%;
    transform: translate(-50%, 0);
}

.gs-smootht {
    transition: 2s ease;
}

.gs-fadeIn, [data-aos="simple-fade"] {
    animation: gs-fadeIn;
    animation-duration: 3s;
}

.gs-expr-icon {
    height: 50vh;
    width: auto;

    stroke-width: 5px;
    fill: none;

    color: #fff;
}

.gs-equality-text-gradient {
    background: linear-gradient(135deg, #00c9ff, #92fe9d);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.gs-inequality-text-gradient {
    background: linear-gradient(135deg, #f857a6, #ff5858);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

[data-aos="simple-fade"] {
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 3s;
}
[data-aos="simple-fade"].aos-animate {
    opacity: 1;
}